.login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 2vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 40vw;
        background-color: white;
        padding: 4vh;
        border-radius: 2vh;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        color: #414141;
        min-height: 40vh;
    }

    form {
        width: 100%;
    }

    h2 {
        text-align: center;
        margin-bottom: 1vh;
        font-size: 4vh;
        border-bottom: 2px solid #ccc;
        padding-bottom: 1vh;
        color: #416a59;
    }

    .input-group {
        margin-bottom: 1vh;
        width: 100%;
    }

    label {
        display: block;
        margin-bottom: 0.5vh;
        font-size: 3vh;
        color: #416a59;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 0.5vh;
        border-radius: 1vh;
        border: 1px solid #ccc;
        font-size: 3vh;
        transition: border 0.3s, box-shadow 0.3s;
        &:hover,
        &:focus {
            border: 1px solid #416a59;
            box-shadow: 0 0 5px #416a59;
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 1vh;
        background-color: #416a59;
        color: white;
        font-size: 3vh;
        border: none;
        border-radius: 2vh;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        margin-top: 2vh;
        &:hover {
            background-color: #2d4534;
            transform: scale(1.02);
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }
        &:active {
            background-color: #2d4534;
            transform: scale(0.98);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
    }

    .signup-link {
        text-align: center;
        margin-top: 1vh;
        font-size: 1vh;
        p {
            font-size: 2vh;
            margin: 0;
            color: #416a59;
        }
        a {
            text-decoration: none;
            font-size: 2vh;
            color: #2d4534;
        }
    }

    @media screen and (max-width: 826px) {
        .container {
            max-width: 80vw;
        }
        h2 {
            font-size: 6vw;
        }
        label {
            font-size: 4vw;
        }
        input[type="text"],
        input[type="password"],
        button {
            font-size: 4vw;
        }
        .signup-link {
            p,
            a {
                font-size: 3vw;
            }
        }
    }
}

.error-message {
    color: #b00020;
    background-color: #ffe9e9;
    font-size: 0.75em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0.25em;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    border: 2px solid #b00020;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    &.invisible {
        display: none;
    }

    &.visible {
        display: block;
    }

    @media screen and (min-width: 768px) {
        width: auto;
        padding: 1.5em;
    }
}
