$white-color: white;
$primary-color: #416a59;
$secondary-color: #2d4534;
$box-shadow-color: rgba(0, 0, 0, 0.15);
$border-color: #ccc;
$alert-danger: #b00020;
$alert-success: #33ff9c;

.project-initialization {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 1.25rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    background-color: $white-color;
    padding: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 10px $box-shadow-color;
    color: $primary-color;
    min-height: 40vh;
  }

  form {
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    border-bottom: 2px solid $border-color;
    padding-bottom: 0.5rem;
    color: $primary-color;
  }

  .input-group {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: $primary-color;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.6rem;
    border: 1px solid $border-color;
    font-size: 2rem;
    transition: border 0.3s, box-shadow 0.3s;

    &:hover,
    &:focus {
      border: 1px solid $primary-color;
      box-shadow: 0 0 5px $primary-color;
    }
  }

  #chart-type option:first-child {
    display: none;
  }

  .year-checkbox-container {
    display: flex; /* Change the display property to flex */
    flex-wrap: wrap; /* Allow wrapping to the next line when needed */
    column-gap: 2vw; /* Use gap property for spacing between items */
    row-gap: 1vw; /* Use gap property for spacing between items */

    .year-item {
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        min-height: 1.5vw; /* Set a minimum height */
        min-width: 1.5vw; /* Set a minimum width */
        margin-right: 0.5vw; /* Add some spacing between checkbox and label */
      }

      input[type="checkbox"]:checked + label {
        font-weight: bold; /* Make the text bold */
      }

      label {
        font-size: 1.2vw;
      }
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: $primary-color;
    color: $white-color;
    font-size: 2rem;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 2px 5px $box-shadow-color;
    margin-top: 2vh;

    &:hover {
      background-color: $secondary-color;
      transform: scale(1.02);
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    &:active {
      background-color: $secondary-color;
      transform: scale(0.98);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  @media screen and (max-width: 826px) {
    .container {
      max-width: 80vw;
    }
    h2 {
      font-size: 2rem;
    }
    label {
      font-size: 1rem;
    }
    input[type="text"],
    select,
    button {
      font-size: 1rem;
    }
  }
}


.error-message,
.success-message {
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.25rem;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &.hidden {
    display: none;
  }

  &.visible {
    display: block;
  }
}

.error-message {
  color: $alert-danger;
  background-color: #ffe9e9;
  border-color: $alert-danger;
}

.success-message {
  color: $alert-success;
  background-color: #e9ffe9;
  border-color: $alert-success;
}
