.central-area {
  padding: 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%; }

.page-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white; }

.create-project-btn,
.view-profile-btn {
  font-size: 1.25rem;
  min-width: 10rem;
  max-width: 100%;
  padding: 1rem;
  color: white;
  background: linear-gradient(45deg, #ca6c6e, #bc4749);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1vh;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .create-project-btn:hover,
  .view-profile-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #bc4749, #983839); }

.button-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 8rem;
  max-height: 20%;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem; }

.project-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  gap: 3rem;
  text-align: center;
  position: relative;
  margin: auto;
  justify-content: flex-start; }

.project {
  background-color: #416a59;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  border-radius: 1vh; }

.profile-project-button-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
  align-items: center; }

.button-area-next-previous{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
  align-items: center;
}

.button-previous,
.button-next {
  font-size: 1.25rem;
  min-width: 10rem;
  max-width: 100%;
  padding: 1rem;
  color: white;
  background: linear-gradient(45deg, #ca6c6e, #bc4749);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1vh;
  text-decoration: none;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-previous:hover,
.button-next:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #bc4749, #983839);
}

.button {
  font-size: 1.25rem;
  min-width: 10rem;
  max-width: 100%;
  padding: 1rem;
  color: white;
  background: linear-gradient(45deg, #ca6c6e, #bc4749);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1vh;
  text-decoration: none;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #bc4749, #983839); }

.project-name {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  color: white; }

@media screen and (max-width: 767px) {
  .central-area {
    padding: 1rem; }
  .profile-project-button-area {
    flex-direction: column;
    gap: 1rem; }
  .button-area-next-previous{
    flex-direction: column;
    gap: 1rem;
  }
  .create-project-btn,
  .view-profile-btn,
  .button {
    font-size: 1.25rem;
    padding: 0.2rem;
    min-width: 100%; }
  .button-area {
    flex-direction: column;
    gap: 1rem; }
  .project-name {
    font-size: 1rem; } }
