$footer-color: #bc4749;
$footer-secondary-color: #ff5858;
$font-color: white;
$hover-color: #c44c51;
$shake-value: 0.25vw;
$shake-duration: 0.5s;
$facebook-color: #1877f2;
$twitter-color: #1da1f2;
$instagram-color: #c13584;
$linkedin-color: #0077b5;
$github-color: #171515;

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    padding: 0.5vw;
    font-size: 1rem;
    background: linear-gradient(45deg, $footer-color, $footer-secondary-color);
    color: $font-color;
    h3 {
        margin-bottom: 0.5vw;
    }
    i {
        font-size: 1.5vw;
        margin-right: 0.5vw;
        color: $font-color;
    }

    .footer-info,
    .footer-contact,
    .footer-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-contact-list {
        p {
            display: flex;
            align-items: center;
        }
        i {
            height: auto;
            margin-right: 0.5vw;
        }
    }

    .footer-info {
        h3, i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    .footer-info-list,
    .footer-contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25vw;

        li {
            width: 100%;
            list-style: none;
            margin-bottom: 0.5vw;

            a {
                width: 100%;
                text-align: center;
                color: $font-color;
                text-decoration: none;
                display: inline-block;
                padding: 0.5vw;
                background-color: transparent;
                border-radius: 0.5vw;
                position: relative;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $hover-color;
                    color: $font-color;
                    box-shadow: 0 0 1vw 0.25vw rgba(0, 0, 0, 0.3);
                    animation: shake $shake-duration;
                }
            }
        }
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1vw;

        a {
            color: $font-color;
            font-size: 1.5vw;
            transition: color 0.3s, transform 0.3s;

            &:hover {
                transform: scale(1.2);
            }

            &:hover i.fab.fa-facebook-f {
                color: $facebook-color;
            }

            &:hover i.fab.fa-twitter {
                color: $twitter-color;
            }

            &:hover i.fab.fa-instagram {
                color: $instagram-color;
            }

            &:hover i.fab.fa-linkedin-in {
                color: $linkedin-color;
            }

            &:hover i.fab.fa-github {
                color: $github-color;
                transform: scale(1.2);
            }
        }
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-$shake-value, -$shake-value);
    }

    40% {
        transform: translate($shake-value, -$shake-value);
    }

    60% {
        transform: translate(-$shake-value, -$shake-value);
    }

    80% {
        transform: translate($shake-value, -$shake-value);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 3vw 2vw;
        font-size: 3vw;

        i {
            font-size: 3vw;
            margin-right: 0.5vw;
        }
    }
}
