$color-primary: #bc4749;
$color-secondary: #ff5858;
$color-neutral-lt: #ceb98d;
$color-neutral-med: #dfca9e;
$color-neutral-dk: #444;
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-no-hov: "a:link, a:visited, a:active";
$headings-font: "Saira Semi Condensed", sans-serif;
$shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

// logo gradient
@mixin main-gradient {
    background: $color-primary;
    background: -webkit-linear-gradient(
        45deg,
        $color-primary,
        $color-secondary
    );
    background: linear-gradient(45deg, $color-primary, $color-secondary);
}

// main part of navbar
@mixin shadow-box {
    background-color: $color-neutral-lt;
    box-shadow: $shadow;
}

// logo hover animation
@mixin skew {
    transform: skew(-20deg);
}

// logo hover animation
@mixin unskew {
    transform: skew(20deg);
}

#nav-wrapper {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;

    button {
        background: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
    }

    button:focus,
    input:focus {
        outline: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    section {
        height: 100vh;
    }

    #home {
        background-color: #ddd;
    }

    #about {
        background-color: #aaa;
    }

    #work {
        background-color: #888;
    }

    #contact {
        background-color: #666;
    }

    .skew {
        @include skew;
    }

    .un-skew {
        @include unskew;
    }

    #nav {
        @include shadow-box;
        display: flex;
        flex-direction: column;
        font-family: $headings-font;
        height: 4em;
        overflow: hidden;

        &.nav-visible {
            height: 100%;
            overflow: auto;
        }
    }

    .nav {
        display: flex;
        height: 4em;
        line-height: 4em;
        flex-grow: 1;
    }

    .nav-link {
        padding: 0 1em;
    }

    .logo {
        padding: 0 1em;
        margin: 0.75em 0;
    }

    span.gradient {
        @include main-gradient;
        padding: 0 1em;
        position: relative;
        right: 1em;
        margin-right: auto;

        &:hover {
            animation-name: logo-hover;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
        }
    }

    h1.logo {
        font-weight: 300;
        font-size: 1.75em;
        line-height: 0.75em;
        color: $color-neutral-med;
    }

    h1.logo #{$a-tags} {
        text-decoration: none;
        color: white;
    }

    .nav-link {
        text-transform: uppercase;
        text-align: center;
        border-top: 0.5px solid $color-neutral-med;
    }

    #{$a-tags-no-hov} {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    .right {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .btn-nav {
        color: white;
        padding-left: 2em;
        padding-right: 2em;
    }

    @media (min-width: 800px) {
        overflow: hidden;

        #nav {
            overflow: hidden;
            flex-direction: row;
        }

        .nav-link {
            border-top: none;
        }

        .right {
            overflow: hidden;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
            left: 1.5em;
            height: auto;
        }

        .btn-nav {
            display: none;
        }

        .nav #{$a-tags-no-hov} {
            &.active {
                @include main-gradient;
                color: #fff;
            }
        }

        .nav-link-span {
            @include unskew;
            display: inline-block;
        }

        .nav-link {
            @include skew;
            color: #777;
            text-decoration: none;

            &:last-child {
                padding-right: 3em;
            }
        }

        a:hover.nav-link:not(.active) {
            color: $color-neutral-dk;
            background: $color-neutral-med;
            background: linear-gradient(45deg, $color-neutral-lt, #ddd);
        }
    }

    @keyframes logo-hover {
        20% {
            padding-right: 0em;
        }
        100% {
            padding-right: 5em;
        }
    }
}
