.footer-container {
    display: grid; /* grid layout */
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
    grid-gap: 2rem; /* gap between columns */
    padding: 2rem; /* padding around the container */

    background-color: #333;
    background-image: linear-gradient(135deg, #262a3e, #2b2d42);
    color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container .about-item,
.footer-container .contact-item {
    display: flex; /* flex layout */
    flex-direction: column; /* column layout, items are stacked vertically in about and contact areas */
    justify-content: center; /* center content vertically */
    align-items: center; /* center content horizontally */
}

.footer-container .about-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-container .about-item ul li,
.footer-container .contact-item ul li {
    list-style: none; /* remove bullet points */
    margin-bottom: 0.5rem;
}

.footer-container .about-item ul li a,
.footer-container .contact-item ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-container .contact-item p {
    margin-bottom: 0.5rem;
}

.footer-container .contact-item p a {
    margin-left: 0.5rem;
}

.footer-container .social-item {
    display: flex; /* flex layout */
    flex-direction: row; /* row layout, items are stacked horizontally in social area */
    justify-content: center; /* center content horizontally */
    align-items: center; /* center content vertically */
    gap: 1rem; /* gap between items */
}

.footer-container h3 {
    margin-bottom: 1rem;
}

.footer-container .about-item ul li a,
.footer-container .contact-item ul li a,
.footer-container .contact-item p a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    background-image: linear-gradient(135deg, #1c1e2d, #262a3e);
    border-radius: 15px;
    position: relative;
    transition: all 0.3s ease; /* transition for hover effect, defined next */
}

.footer-container .about-item ul li a:hover,
.footer-container .contact-item ul li a:hover,
.footer-container .contact-item p a:hover {
    background-color: rgba(75, 75, 75, 0.9);
    color: #00b3b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: shake 0.5s; /* animation for hover effect, read more: https://www.w3schools.com/css/css3_animations.asp:  */
}

.footer-container .social-item a {
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s; /* only the color and transform properties will be transitioned */
}

.footer-container .social-item a:hover {
    transform: scale(1.2);
}

.footer-container .social-item a:hover i.fab.fa-facebook-f {
    color: #1877f2;
}

.footer-container .social-item a:hover i.fab.fa-twitter {
    color: #1da1f2;
}

.footer-container .social-item a:hover i.fab.fa-instagram {
    color: #c13584;
}

.footer-container .social-item a:hover i.fab.fa-linkedin-in {
    color: #0077b5;
}

.footer-container .contact-item i.fab.fa-github:hover {
    color: #171515;
}

@keyframes shake {
    /* shake effect for button hover */
    0%,
    100% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-5px, -5px);
    }
    40% {
        transform: translate(5px, -5px);
    }
    60% {
        transform: translate(-5px, -5px);
    }
    80% {
        transform: translate(5px, -5px);
    }
}

@media screen and (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}
