* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

iframe {
    border: none;
}

html {
    font-size: 100%;
}

.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(185deg, #1c1e2d, #262a3e, #3c3e4f, #4e6e92);
    background-size: 300% 300%;
    animation: gradient-animation 5s ease infinite;
    line-height: 1.6;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 112.5%;
    }
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 125%;
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 150%;
    }
}

@media screen and (min-width: 3840px) {
    html {
        font-size: 200%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 87.5%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 75%;
    }
}
