.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(185deg, #1c1e2d, #262a3e);
    padding: 3vh;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-link img {
    min-height: 7vh;
    max-height: 10vh;
    transition: all 0.3s ease;
}

.logo-link img:hover {
    transform: scale(1.1) rotate(10deg);
    filter: drop-shadow(0.2vh 0.4vh 0.6vh rgba(0, 0, 0, 1));
}

.navigation-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2vw;
    list-style-type: none;
}

.nav-item {
    margin-right: 2vw;
    margin-top: 1vh;
}

.navigation-links i {
    margin-left: 1vw;
}

.navigation-links a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1.5vh;
    background-color: transparent;
    font-size: 2.5vh;
    display: block;
    position: relative;
    transition: all 0.5s ease, background-color 0.5s ease;
    overflow: hidden;
}

.navigation-links a:hover {
    background-color: #333;
    background-image: linear-gradient(45deg, #1c1e2d, #262a3e);
    color: white;
    border-radius: 1.5vh;
    font-size: 2.7vh;
    padding: 1.7vh 2vw;
    bottom: -0.3vh;
    box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 1);
    letter-spacing: 0.1vh;
}

.navigation-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5vh;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.navigation-links a:hover::after {
    transform: translateX(0%);
}

@media screen and (max-width: 826px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        margin-right: 1vw;
    }

    .navigation-links {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .nav-item {
        padding: 2vh;
    }
}
