.navbar {
    display: flex; /* read about flexbox: https://www.w3schools.com/css/css3_flexbox.asp */
    flex-direction: row; /* make the items in the navbar go from left to right */
    justify-content: space-between; /* space the items evenly */
    align-items: center; /* center the items vertically */
    background-color: #333;
    background-image: linear-gradient(
        135deg,
        #2b2d42,
        #1c1e2d
    ); /* this adds the white effect to the navbar */
    padding: 3vh; /* read about vh: https://www.w3schools.com/css/css_units.asp */
}

.navbar .logo {
    /* used to center the logo in its container */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .logo img {
    min-height: 7vh;
    max-height: 10vh;
    transition: all 0.3s ease; /* read about transitions: https://www.w3schools.com/css/css3_transitions.asp */
}

.navbar .logo img:hover {
    transform: scale(1.1) rotate(10deg); /* make it a liitle bigger and rotate it a little */
    filter: drop-shadow(
        0.2vh 0.4vh 0.6vh rgba(0, 0, 0, 1)
    ); /* add a drop shadow */
}

.navbar .nav-links {
    display: flex; /* the links will also be a flexbox */
    flex-direction: row; /* the links will go from left to right */
    justify-content: flex-end; /* the links will be on the right side */
    margin-right: 1vh; /* add a little space between the links and the logo */
    list-style-type: none; /* removes the bullet points */
}

.navbar .nav-links .link {
    margin-right: 1vh; /* add a little space between the links */
    margin-top: 1vh; /* add a little space between the links */
}
.navbar .nav-links i {
    margin-left: 1vh;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 2vh;
    background-color: transparent;
    font-size: 3vh;
    display: block;
    position: relative;
    transition: all 0.5s ease, background-color 0.5s ease;
    overflow: hidden;
}

.navbar .nav-links a:hover {
    background-color: #333;
    background-image: linear-gradient(45deg, #1c1e2d, #262a3e);
    color: white;
    border-radius: 2vh;
    font-size: 3.5vh;
    padding: 2.2vh 2vh;
    bottom: 0.5vh;
    box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 1);
    letter-spacing: 0.1vh;
}

.nav-links a::after {
    /* this is the underline */
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5vh;
    background-color: white;
    transform: translateX(
        -100%
    ); /* move it to the left, not visible if no hover */
    transition: transform 0.3s ease; /* transition for the hover effect */
}

.nav-links a:hover::after {
    transform: translateX(0);
}

@media screen and (max-width: 826px) {
    .navbar {
        flex-direction: column; /* make the items in the navbar go from top to bottom */
    }
    .navbar .nav-links {
        flex-direction: column; /* make the links go from top to bottom */
    }

    .navbar .nav-links .link {
        padding: 2vh;
    }
}
