.register {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    background-color: white;
    padding: 4vh;
    border-radius: 2vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: black;
    min-height: 60vh;
}

.register form {
    width: 100%;
}

.register h2 {
    text-align: center;
    margin-bottom: 1vh;
    font-size: 4vh;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1vh;
}

.input-group {
    margin-bottom: 1vh;
    width: 100%;
}

.register label {
    display: block;
    margin-bottom: 0.5vh;
    font-size: 3vh;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
    width: 100%;
    padding: 0.5vh;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 3vh;
    transition: border 0.3s, box-shadow 0.3s;
}

.register button {
    display: block;
    width: 100%;
    padding: 1vh;
    background-color: #333;
    color: white;
    font-size: 3vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 2vh;
}

.register input[type="text"]:hover,
.register input[type="email"]:hover,
.register input[type="password"]:hover {
    border: 1px solid #777;
}

.register input[type="password"]:focus {
    outline: none;
    border: 1px solid #777;
    box-shadow: 0 0 5px #777;
}

.register button:hover {
    background-color: #444;
    transform: scale(1.02);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.register button:active {
    background-color: #555;
    transform: scale(0.98);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.signup-link {
    text-align: center;
    margin-top: 1vh;
    font-size: 1vh;
}

.signup-link p {
    font-size: 2vh;
    margin: 0;
}

.signup-link a {
    text-decoration: none;
    font-size: 2vh;
    color: #333;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 2vh;
        max-width: 90%;
    }

    .register h2 {
        font-size: 3.5vh;
    }

    .register label,
    .register input[type="text"],
    .register input[type="email"],
    .register input[type="password"],
    .register button {
        font-size: 2.5vh;
    }

    .signup-link p {
        font-size: 1.5vh;
    }

    .signup-link a {
        font-size: 1.5vh;
    }
}
