.main-content .upload-options {
    display: flex;
}

.main-content .upload-options .button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10vw;
    display: flex;
    bottom: 0;
    z-index: 1;
    background-color: transparent;
}

.main-content .specialized-form {
    background-color: aliceblue;
}
